.about-us-page
    &__win
        position: relative
        background: url(../assets/about-us-page/win.png) no-repeat
        width: 282px
        height: 115px
        background-size: cover
        margin: auto
        margin-top: 13.5vh
        z-index: 2
    &__win-text
        padding: 11px 14px 0 27px
    &__text-wrapper
        margin-top: 31.5vh
        padding: 0 12px 43px 20px
        & p
            margin: 0
            margin-bottom: 15px
            color: #FFFFFF
    &__circles-top
        z-index: 0
        width: 244px
        height: 244px
        top: -111px
        left: -97px
    &__circles-right
        z-index: 0
        width: 176px
        height: 176px
        top: 328px
        right: -76px
    &__circles-bottom
        z-index: 0
        width: 176px
        height: 176px
        bottom: 238px
        right: -129px