.apps
    &__win
        position: relative
        background: url(../assets/applications-page/win.png) no-repeat
        width: 243px
        height: 118px
        background-size: cover
        margin: auto
        margin-top: 329px
        z-index: 3
        transform: translateX(1500px) rotate(-30deg) scale(0)
        &.show
            transform: translateX(0px) rotate(0deg) scale(1)
    &__win-text
        padding: 44px 23px 19px 27px
    &__reasons-title
        position: relative
        margin: 0
        margin-top: 63px
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 120%
        color: #FFFFFF
        z-index: 3
        transform: translateX(1500px) rotate(-30deg) scale(0)
        &.show
            transform: translateX(0px) rotate(0deg) scale(1)
    &__reasons-list
        position: relative
        margin-bottom: 22px
        z-index: 3
        transform: translateX(1500px) rotate(-30deg) scale(0)
        &.show
            transform: translateX(0px) rotate(0deg) scale(1)
        & li
            padding: 0
            margin-left: 13px
            list-style: none
            position: relative
            &::before
                content: '.'
                position: absolute
                top: -0.3em
                left: -9px
    &__modals-img
        width: 100%
        z-index: 3
        transform: translateX(1500px) rotate(-30deg) scale(0)
        &.show
            transform: translateX(0px) rotate(0deg) scale(1)
    &__steps-title
        display: flex
        &-num
            color: $orange
            font-size: 64px
            line-height: 120%
            margin-right: 10px
        & p
            font-size: 18px
            line-height: 120%
            color: #fff
            & span
                color: $orange
    &__steps
        margin-bottom: 13px
    &__info-title
        margin: 0
        font-size: 24px
        line-height: 120%
        text-align: center
        color: $orange
        margin-bottom: 20px
    &__info-text
        margin: 0
        margin-bottom: 20px
    &__btns
        display: flex
        justify-content: space-between
        margin-bottom: 30px
    &__consult
        padding: 6px 17px
        font-weight: 400
        font-size: 14px
        line-height: 17px
    &__order
        padding: 6px 17px
        font-weight: 400
        font-size: 14px
        line-height: 17px
        text-align: center
        text-transform: uppercase
    &__circles-top
        width: 244px
        height: 244px
        top: -100px
        left: -84px
        transform: translateX(1000px) scale(0)
        &.show
            transform: translateX(0px) scale(1)
    &__circles-right
        width: 176px
        height: 176px
        top: 103px
        right: -90px
        transform: translateX(1000px) scale(0)
        &.show
            transform: translateX(0px) scale(1)
    &__circles-left
        width: 76px
        height: 76px
        top: 395px
        left: -39px
        transform: translateX(1000px) scale(0)
        &.show
            transform: translateX(0px) scale(1)