$secondary: #FF9B04
$orange: #FFA31A

body
    font-family: 'Montserrat', sans-serif
    background: linear-gradient(117.89deg, #451149 4.83%, #ED00FF 108.33%)
    //height: 100vh
    //overflow: hidden
#animationCanvas
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 2
    pointer-events: none
.bg
    background: linear-gradient(117.89deg, #451149 4.83%, #ED00FF 108.33%)
    opacity: 0
    transition: opacity 1s linear
    display: none
.section-visible
    opacity: 1
.section-block
    display: block
.bg-second-layer
    background: linear-gradient(347.42deg, rgba(255, 150, 26, 0.56) -16.29%, rgba(80, 16, 84, 0) 113.92%)
    position: relative
    overflow: hidden
    min-height: 100vh
    width: 100%
.button
    background: $secondary
    border-radius: 8px
    color: #fff
    text-transform: uppercase
    text-align: center
    display: block
    border: none
    appearance: none
    cursor: pointer
    font-weight: 400
    font-size: 14px
    line-height: 120%
.outline-button
    background: transparent
    border-radius: 8px
    color: $secondary
    text-transform: uppercase
    text-align: center
    display: block
    border: 1px solid $secondary
    appearance: none
    cursor: pointer
    font-weight: 400
    font-size: 14px
    line-height: 120%
.design-circles
    position: absolute
    border-radius: 50%
    z-index: 0
.page-wrapper
    min-height: 100vh
    width: 100%
    position: relative
.win-text
    color: #fff
    font-weight: 400
    font-size: 14px
    margin: 0
    position: absolute
    top: 0
    left: 0
.win-bold-text
    font-weight: 700
    font-size: 24px
.text-content
        font-weight: 400
        font-size: 14px
        line-height: 120%
        color: #fff
.container
    padding: 0 15px 0 19px