$secondary: #FF9B04

body
    font-family: 'Montserrat', sans-serif
.bg
    background: linear-gradient(117.89deg, #451149 4.83%, #ED00FF 108.33%)
.bg-second-layer
    background: linear-gradient(347.42deg, rgba(255, 150, 26, 0.56) -16.29%, rgba(80, 16, 84, 0) 113.92%)
.button
    background: $secondary
    border-radius: 8px
    color: #fff
    text-transform: uppercase
.design-circles
    position: absolute
    border-radius: 50%
    z-index: 0