.index
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    &__btn
        position: relative
        width: 159px
        height: 40px
        margin-bottom: 14.5vh
        z-index: 5
        transform: translateX(-2000px) rotate(-40deg) scale(0)
        &.show
            transform: translateX(0px) rotate(0deg) scale(1)
    &__win
        position: relative
        background: url(../assets/index-page/win.png) no-repeat
        width: 243px
        height: 154px
        background-size: cover
        margin-top: 19vh
        z-index: 5
        transform: translateX(-2000px) rotate(-30deg) scale(0)
        &.show
            transform: translateX(0px) rotate(0deg) scale(1)
    &__win-text
        padding: 13px 14px 0 27px
    &__circles-top
        top: -98px
        left: -114px
        transform: scale(0)
        &.show
            transform: scale(1)
    &__circles-right
        top: 80px
        right: -1px
        transform: scale(0)
        &.show
            transform: scale(1)
    &__circles-bottom
        bottom: -88px
        left: 19px
        transform: scale(0)
        &.show
            transform: scale(1)
    &__design-block-top
        display: none
        transform: translateX(-2000px) rotate(-40deg) scale(0)
        &.show
            transform: translateX(0px) rotate(0deg) scale(1)
    &__design-block-bottom
        display: none
        transform: translateX(-2000px) rotate(-40deg) scale(0)
        &.show
            transform: translateX(0px) rotate(0deg) scale(1)

@media screen and (min-width: 600px) 
    .index
        &__win
            background: url(../assets/index-page/win-desc.png) no-repeat !important
            width: 370px !important
            height: 205px !important
        &__win-text
            padding: 35px 40px 0 40px
@media screen and (min-width: 1024px) 
    .index
        &__win
            background: url(../assets/selector-page/win-desc.png) no-repeat !important
            &.show
                transform: translateX(-50%) rotate(0deg) scale(1)
        &__win-text
            padding: 30px 40px 0 40px
        &__circles-right
            top: auto
            right: -130px
            bottom: 187px
        &__circles-bottom
            bottom: -130px
            left: 50vw
        &__btn
            width: 194px !important
            margin-bottom: auto !important
            margin-top: -50px !important
            transform: translateX(-2000px) rotate(-40deg) scale(0)
            &.show
                transform: translateX(-150%) rotate(0deg) scale(1)
@media screen and (min-width: 1440px)
    .index
        &__circles-right
            right: -200px
        &__circles-top
            top: -98px
            left: -159px
        &__circles-bottom
            bottom: -170px
            left: 35vw
        &__design-block-top
            display: block
            width: 500px
            height: 150px
            top: -30px
            left: -20px
        &__design-block-bottom
            display: block
            width: 890px
            height: 150px
            bottom: -30px
            right: -20px