.sites
    &__win
        position: relative
        background: url(../assets/cites-page/win.png) no-repeat
        width: 243px
        height: 129px
        background-size: cover
        margin-top: 37vh
        margin-bottom: 70px
        margin-left: 34px
        z-index: 2
    &__win-text
        padding: 52px 36px 14px 36px
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 120%
    &__definition
        margin: 0
        margin-bottom: 20px
        & span
            color: $orange
    &__list
        margin: 0
        list-style: none
        & span
            color: $orange
        & li
            margin: 0
            margin-bottom: 20px
            padding: 0 0 0 37px
            position: relative
            &:nth-child(2)
                margin-top: 20px
            &::before
                content: ''
                position: absolute
                left: 0
                top: .5em
                height: 2px
                width: 52px
                background: $orange
                transform: translateX(-65%)
        &-title
            margin: 0
            font-family: 'Gilroy'
            font-style: normal
            font-weight: 500
            font-size: 18px
            line-height: 21px
            color: #FFFFFF
            margin-top: 21px
    &__steps-prelist-text
        margin: 0
        margin-bottom: 20px
        & span
            color: $orange
    &__circles-top
        width: 244px
        height: 244px
        top: -123px
        left: -39px
    &__circles-right
        width: 176px
        height: 176px
        top: 334px
        right: -94px
