.working
    &__win
        position: relative
        background: url(../assets/about-us-page/win.png) no-repeat
        width: 282px
        height: 115px
        background-size: cover
        margin: auto
        margin-top: 12vh
        z-index: 2
    &__win-text
        padding: 11px 14px 0 27px
    &__list
        position: relative
        padding: 0 10px 0 28px
        margin-top: 35.8vh
    &__list-item
        display: flex
        color: #fff
        margin-bottom: 23px
    &__list-number
        font-weight: 400
        font-size: 64px
        line-height: 78px
        display: block
        margin-right: 18px
        width: 78px
    &__list-hero
    &__list-title
        margin: 0
        font-family: 'Gilroy'
        font-style: normal
        font-weight: 600
        font-size: 24px
        line-height: 29px
        margin-bottom: 6px
    &__list-text
        margin: 0
        font-family: 'Gilroy'
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 16px
    &__circles-top-right
        z-index: 0
        width: 244px
        height: 244px
        top: -82px
        right: -122px
    &__circles-top-left
        z-index: 0
        width: 176px
        height: 176px
        top: 281px
        left: -60px
    &__circles-list-right
        z-index: 0
        width: 126px
        height: 126px
        top: 63px
        right: -60px
    &__circles-bottom
        z-index: 0
        width: 194px
        height: 194px
        bottom: -79px
        left: -145px

