@font-face{
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Medium.woff') format('woff'),
        url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Semibold.woff') format('woff'),
        url('../assets/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
/* robot floating animation */
.canvas-animate{
    animation: 3s ease-in-out infinite alternate-reverse 3s canvasAnimation;
}

/* circles pilse animaton */
.start-anim.circle-animate-1{
    animation: 2s ease-in-out infinite alternate-reverse 3s circlesAnimation;
}
.start-anim.circle-animate-2{
    animation: 2.5s ease-in infinite alternate-reverse 3s circlesAnimation;
}
.start-anim.circle-animate-3{
    animation: 2.8s ease-out infinite alternate-reverse 3s circlesAnimation;
}
.start-anim.circle-animate-4{
    animation: 3s linear infinite alternate-reverse 3s circlesAnimation;
}
/*for preloader*/
/* circles pilse animaton */
.start-anim-at-once.circle-animate-1{
    animation: 2s ease-in-out infinite alternate-reverse circlesAnimation;
}
.start-anim-at-once.circle-animate-2{
    animation: 2.5s ease-in infinite alternate-reverse circlesAnimation;
}
.start-anim-at-once.circle-animate-3{
    animation: 2.8s ease-out infinite alternate-reverse circlesAnimation;
}
.start-anim-at-once.circle-animate-4{
    animation: 3s linear infinite alternate-reverse circlesAnimation;
}

/* index page */
.index-page-animate{
    transition: transform 1.6s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.index-page-animate.hide{
    transform: translate(0px, -3000px) rotate(10deg) scale(1) !important;
    animation: none !important;
    transition: transform 2s cubic-bezier(.17,.67,.65,1.12) .5s !important;
}
/* selector page */
.selector-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.selector-page-animate.hide{
    transition: transform 2s cubic-bezier(.17,.67,.65,1.12) .5s !important;
    transform: translate(0px, -2000px) rotate(0deg) scale(1) !important;
    animation: none !important
}
/* about-us page */
.about-us-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.about-us-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) .5s !important;
    transform: translate(0px, -3000px) rotate(0deg) scale(1) !important;
    animation: none !important
}
/* working page */
.working-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.working-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) .5s !important;
    transform: translate(0px, -3000px) rotate(0deg) scale(1) !important;
    animation: none !important
}
/* services page */
.services-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.services-page-animate.hide{
    transition: transform 4s cubic-bezier(.17,.67,.65,1.12) .5s !important;
    transform: translate(-3000px, 0) rotate(0deg) scale(1) !important;
    animation: none !important
}
.services-page-animate.hide-back{
    transition: transform 4s cubic-bezier(.17,.67,.65,1.12) .5s !important;
    transform: translate(0, -3000px) rotate(0deg) scale(1) !important;
    animation: none !important
}
/* contacts page */
.contacts-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.contacts-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 0s !important;
    transform: translateY(-1500px) rotate(0deg) scale(1) !important;
    animation: none !important
}

/* ceo page */
.ceo-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.ceo-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 0s !important;
    transform: translateY(-1500px) rotate(0deg) scale(1) !important;
    animation: none !important
}

@media screen and (max-width: 600px) {
    .contacts-page-animate{
        transition: transform .5s cubic-bezier(.17,.67,.65,1.12) 0s !important;
    }
    .ceo-page-animate{
        transition: transform .5s cubic-bezier(.17,.67,.65,1.12) 0s !important;
    }
}

/* sites page */
.sites-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.sites-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) .5s !important;
    transform: translate(0px, -3000px) rotate(0deg) scale(1) !important;
    animation: none !important
}
/* apps page */
.apps-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 1s !important;
}
.apps-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) .5s !important;
    transform: translate(0px, -3000px) rotate(0deg) scale(1) !important;
    animation: none !important
}

@keyframes canvasAnimation {
    0%{
        transform: translate(2px, 0px)
    }
    50%{
        transform: translate(-2px, -4px)
    }
    100%{
        transform: translate(0px, 0px)
    }
}

@keyframes circlesAnimation {
    0%{
        transform: scale(1.1)
    }
    50%{
        transform: scale(0.9)
    }
    100%{
        transform: scale(1)
    }
}

.fly-from-top{
    animation: 3s ease-in-out infinite alternate-reverse 0s fly-from-top;
}

@keyframes fly-from-top {
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0px);
    }
}
