@font-face{
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Medium.woff') format('woff'),
        url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Semibold.woff') format('woff'),
        url('../assets/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* robot floating animation */
.canvas-animate{
    animation: 3s ease-in-out infinite alternate-reverse 3s canvasAnimation;
}
.canvas-to-top{
    top: -2000px !important
}

/* circles pilse animaton */
.start-anim.circle-animate-1{
    animation: 2s ease-in-out infinite alternate-reverse 3s circlesAnimation;
}
.start-anim.circle-animate-2{
    animation: 2.5s ease-in infinite alternate-reverse 3s circlesAnimation;
}
.start-anim.circle-animate-3{
    animation: 2.8s ease-out infinite alternate-reverse 3s circlesAnimation;
}
.start-anim.circle-animate-4{
    animation: 3s linear infinite alternate-reverse 3s circlesAnimation;
}

/* index page */
.index-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 2s !important;
}
.index-page-animate.hide{
    transform: translate(0px, -1000px) rotate(10deg) scale(1) !important;
    animation: none !important;
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
}
/* selector page */
.selector-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 2s !important;
}
.selector-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
    transform: translate(0px, -1000px) rotate(10deg) scale(1) !important;
    animation: none !important
}
/* about-us page */
.about-us-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 2s !important;
}
.about-us-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
    transform: translate(0px, -3000px) rotate(10deg) scale(1) !important;
    animation: none !important
}
/* working page */
.working-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 2s !important;
}
.working-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
    transform: translate(0px, -1000px) rotate(10deg) scale(1) !important;
    animation: none !important
}
/* services page */
.services-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) 2s !important;
}
.services-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
    transform: translate(0px, -1000px) rotate(10deg) scale(1) !important;
    animation: none !important
}
/* contacts page */
.contacts-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
}
.contacts-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
    transform: translate(0px, -1000px) rotate(10deg) scale(1) !important;
    animation: none !important
}
/* sites page */
.sites-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
}
.sites-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
    transform: translate(0px, -3000px) rotate(10deg) scale(1) !important;
    animation: none !important
}
/* apps page */
.apps-page-animate{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
}
.apps-page-animate.hide{
    transition: transform 1s cubic-bezier(.17,.67,.65,1.12) !important;
    transform: translate(0px, -1000px) rotate(10deg) scale(1) !important;
    animation: none !important
}

@keyframes canvasAnimation {
    0%{
        transform: translate(2px, 0px)
    }
    50%{
        transform: translate(-2px, -4px)
    }
    100%{
        transform: translate(0px, 0px)
    }
}

@keyframes circlesAnimation {
    0%{
        transform: scale(1.1)
    }
    50%{
        transform: scale(0.9)
    }
    100%{
        transform: scale(1)
    }
}
