@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#bc4668), to(#e24788));
  background: linear-gradient(to right, #bc4668, #e24788 100%);
}

.noScrollable {
  overflow: hidden;
}

.bg {
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  display: none;
}

.section-visible {
  opacity: 1;
}

.section-block {
  display: block;
}

.section-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.bg-second-layer {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.button {
  background: #FF9B04;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.outline-button {
  background: transparent;
  border-radius: 8px;
  color: #FF9B04;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: 1px solid #FF9B04;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.design-circles {
  position: absolute;
  border-radius: 50%;
  z-index: 3;
}

.circle-sm {
  width: 88px;
  height: 88px;
}

.circle-md {
  width: 176px;
  height: 176px;
}

.circle-lg {
  width: 244px;
  height: 244px;
}

.page-wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.win-text {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.win-bold-text {
  font-weight: 700;
  font-size: 24px;
}

.text-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  z-index: 3;
  position: relative;
}

.container {
  padding: 0 15px 0 19px;
}

.preloader {
  color: #fff;
  margin-top: 50vh;
  font-size: 14px;
  position: absolute;
}

.preloader__logo {
  display: block;
  margin: auto;
  margin-bottom: 23px;
  width: 100px;
}

.preloader p {
  margin: 0;
  text-align: center;
  width: 90%;
  margin: 0 auto 11px;
}

.preloader__line {
  width: 60%;
  height: 3px;
  background: #000;
  margin: auto;
  position: relative;
  z-index: 3;
}

.preloader__line::before {
  content: '0';
  position: absolute;
  font-size: 16px;
  font-weight: 300;
  left: 0;
  bottom: -20px;
}

.preloader__line::after {
  content: '100';
  position: absolute;
  font-size: 16px;
  font-weight: 300;
  right: 0;
  bottom: -20px;
}

.preloader__loading-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 0%;
}

.preloader__logo-container {
  width: 100%;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader__logo-left {
  width: 34px;
  position: absolute;
  top: 27px;
  left: calc(50vw - 50px);
  -webkit-animation: 2s ease-in-out logoLeftLoaderAnimation;
          animation: 2s ease-in-out logoLeftLoaderAnimation;
}

.preloader__logo-right {
  width: 114px;
  position: absolute;
  top: 0;
  right: calc(50vw - 70px);
  -webkit-animation: 2s ease-in-out logoRightLoaderAnimation;
          animation: 2s ease-in-out logoRightLoaderAnimation;
}

.preloader__logo-title-container {
  width: 100px;
  padding-top: 34px;
  z-index: 3;
  overflow: hidden;
}

.preloader__logo-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 100px;
  z-index: 3;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-animation: 2s linear infinite 3s logoTitleAnimation;
          animation: 2s linear infinite 3s logoTitleAnimation;
}

@-webkit-keyframes logoLeftLoaderAnimation {
  0% {
    left: -50px;
  }
  100% {
    left: calc(50vw - 50px);
  }
}

@keyframes logoLeftLoaderAnimation {
  0% {
    left: -50px;
  }
  100% {
    left: calc(50vw - 50px);
  }
}

@-webkit-keyframes logoRightLoaderAnimation {
  0% {
    right: -150px;
  }
  100% {
    right: calc(50vw - 70px);
  }
}

@keyframes logoRightLoaderAnimation {
  0% {
    right: -150px;
  }
  100% {
    right: calc(50vw - 70px);
  }
}

@-webkit-keyframes logoTitleAnimation {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}

@keyframes logoTitleAnimation {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}

.back-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 -20px;
  z-index: 4;
}

.back-btn__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-btn__img {
  margin-right: 5px;
}

.back-btn__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #FF9B04;
  text-transform: uppercase;
}

.video-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

#mobile-anim-1,
#mobile-anim-2,
#mobile-anim-3,
#mobile-anim-4,
#mobile-anim-5 {
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
}

.video-visible {
  visibility: visible !important;
}

.design-block {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(53px);
          backdrop-filter: blur(53px);
  border-radius: 24px;
  position: absolute;
  z-index: 4;
}

@media screen and (min-width: 480px) {
  .win-text {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
}

@media screen and (min-width: 600px) {
  .win-text {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
  }
  .circle-sm {
    width: 100px;
    height: 100px;
  }
  .circle-md {
    width: 215px;
    height: 215px;
  }
  .circle-lg {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .circle-sm {
    width: 120px;
    height: 120px;
  }
  .circle-md {
    width: 270px;
    height: 270px;
  }
  .circle-lg {
    width: 330px;
    height: 330px;
  }
  .button {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .circle-sm {
    width: 200px;
    height: 200px;
  }
  .circle-md {
    width: 345px;
    height: 345px;
  }
  .circle-lg {
    width: 402px;
    height: 402px;
  }
  .button {
    font-size: 24px;
  }
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index__btn {
  width: 159px;
  height: 40px;
  margin-bottom: 14.5vh;
  -webkit-transform: translateX(-2000px) rotate(-40deg);
          transform: translateX(-2000px) rotate(-40deg);
  z-index: 3;
}

.index__btn.show {
  -webkit-transform: translateX(0px) rotate(0deg);
          transform: translateX(0px) rotate(0deg);
}

.index__win {
  position: relative;
  background: url(../assets/index-page/win.png) no-repeat;
  width: 243px;
  height: 154px;
  background-size: cover;
  margin-top: 19vh;
  z-index: 4;
  -webkit-transform: translateX(-2000px) rotate(-30deg) scale(0);
          transform: translateX(-2000px) rotate(-30deg) scale(0);
}

.index__win.show {
  -webkit-transform: translateX(0px) rotate(0deg) scale(1);
          transform: translateX(0px) rotate(0deg) scale(1);
}

.index__win-text {
  padding: 13px 14px 0 27px;
}

.index__circles-top {
  top: -98px;
  left: -114px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.index__circles-top.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.index__circles-right {
  top: 80px;
  right: -1px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.index__circles-right.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.index__circles-bottom {
  bottom: -88px;
  left: 19px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.index__circles-bottom.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.index__design-block-top {
  display: none;
}

.index__design-block-bottom {
  display: none;
}

@media screen and (min-width: 600px) {
  .index__win {
    background: url(../assets/index-page/win-desc.png) no-repeat !important;
    width: 370px !important;
    height: 205px !important;
  }
  .index__win-text {
    padding: 35px 40px 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  .index__circles-right {
    top: auto;
    right: -130px;
    bottom: 187px;
  }
  .index__circles-bottom {
    bottom: -130px;
    left: 50vw;
  }
  .index__btn {
    width: 194px;
    margin-bottom: auto !important;
    margin-top: -7px !important;
  }
  .index__btn.show {
    -webkit-transform: translateX(-40%) rotate(0deg);
            transform: translateX(-40%) rotate(0deg);
  }
}

@media screen and (min-width: 1440px) {
  .index__circles-top {
    top: -98px;
    left: -159px;
  }
  .index__circles-bottom {
    bottom: -170px;
    left: 50vw;
  }
  .index__design-block-top {
    display: block;
    width: 500px;
    height: 200px;
    top: -30px;
    left: -20px;
  }
  .index__design-block-bottom {
    display: block;
    width: 890px;
    height: 270px;
    bottom: -30px;
    right: -20px;
  }
}

.selector__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.selector__win {
  position: relative;
  background: url(../assets/selector-page/selecter-win.png) no-repeat;
  width: 243px;
  height: 113px;
  background-size: cover;
  margin-top: 6.5vh;
  z-index: 2;
  -webkit-transform: translateY(1000px) rotate(-40deg);
          transform: translateY(1000px) rotate(-40deg);
}

.selector__win.show {
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}

.selector__win-text {
  padding: 11px 14px 0 27px;
}

.selector__links {
  position: relative;
  padding: 0 35px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3vh;
  z-index: 3;
}

.selector__link {
  cursor: pointer;
  width: 143px;
  height: 136px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(53px);
          backdrop-filter: blur(53px);
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 6px;
  -webkit-transform: translateY(1000px) rotate(-40deg) scale(0);
          transform: translateY(1000px) rotate(-40deg) scale(0);
}

.selector__link.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.selector__link:nth-child(odd) {
  margin-right: 9px;
  -webkit-transform: translate(0px, 1500px) rotate(-40deg) scale(0);
          transform: translate(0px, 1500px) rotate(-40deg) scale(0);
}

.selector__link:nth-child(even) {
  -webkit-transform: translate(0px, 1000px) rotate(40deg) scale(0);
          transform: translate(0px, 1000px) rotate(40deg) scale(0);
}

.selector__link.show {
  -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
          transform: translate(0px, 0px) rotate(0deg) scale(1);
}

.selector__link:nth-child(5) {
  width: 285px;
  margin-right: 0;
}

.selector__link-hero img {
  margin: auto;
  display: block;
  margin-bottom: 7px;
}

.selector__link-hero p {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
}

.selector__circles-top {
  z-index: -1;
  top: -30px;
  right: 20px;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.selector__circles-top.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.selector__circles-left {
  z-index: -1;
  bottom: -79px;
  left: -51px;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.selector__circles-left.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.selector__circles-bottom {
  z-index: 1;
  bottom: -98px;
  right: -86px;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.selector__circles-bottom.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.selector__circles-top-desc {
  display: none;
}

.selector__circles-bottom-desc {
  display: none;
}

@media screen and (max-width: 375px) {
  .selector__links {
    padding: 0 15px;
  }
  .selector__link {
    width: 135px;
  }
}

@media screen and (min-width: 500px) {
  .selector__links {
    width: 310px;
  }
  .selector__link:nth-child(5) {
    width: 290px;
  }
}

@media screen and (min-width: 600px) {
  .selector__win {
    margin-top: 13.5vh;
    width: 355px;
    height: 165px;
  }
  .selector__win-text {
    padding: 27px 55px 0 33px;
  }
}

@media screen and (min-width: 860px) {
  .selector__links {
    width: 600px;
  }
  .selector__link {
    width: 175px;
    height: 175px;
    margin-bottom: 9px;
  }
  .selector__link:nth-child(2) {
    margin-right: 185px;
  }
  .selector__link:nth-child(4) {
    margin-right: 9px;
  }
  .selector__link:nth-child(5) {
    width: 175px;
  }
  .selector__link-hero p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1020px) {
  .selector__hero {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 17vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selector__links {
    margin: 0;
    padding: 0;
    width: 700px;
  }
  .selector__link {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .selector__link:nth-child(odd) {
    margin-right: 20px;
  }
  .selector__link:nth-child(2) {
    margin-right: 235px;
  }
  .selector__link:nth-child(4) {
    margin-right: 20px;
  }
  .selector__win {
    margin-left: 203px;
  }
  .selector__circles-left {
    bottom: -150px;
    left: -80px;
  }
  .selector__circles-bottom {
    bottom: auto;
    top: -70px;
    right: -86px;
  }
  .selector__circles-top-desc {
    display: block;
    top: -40px;
    left: -80px;
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  .selector__circles-top-desc.show {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .selector__circles-bottom-desc {
    display: block;
    right: 200px;
    bottom: 100px;
  }
  .selector__circles-bottom-desc.show {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .selector__link-hero img {
    height: 100px;
  }
  .selector__link-hero p {
    font-size: 24px;
    padding: 0 5px;
  }
}

@media screen and (min-width: 1440px) {
  .selector__circles-top {
    top: -80px;
    right: -80px;
  }
}

.about-us-page__win {
  position: relative;
  background: url(../assets/about-us-page/win.png) no-repeat;
  width: 282px;
  height: 115px;
  background-size: cover;
  margin: auto;
  margin-top: 10vh;
  z-index: 3;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.about-us-page__win.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.about-us-page__win-text {
  padding: 11px 14px 0 27px;
}

.about-us-page__text-wrapper {
  margin-top: 31.5vh;
  padding: 0 12px 20px 20px;
}

.about-us-page__text-wrapper p {
  margin: 0;
  margin-bottom: 15px;
  color: #FFFFFF;
  -webkit-transform: translateY(3000px) rotate(30deg) scale(0);
          transform: translateY(3000px) rotate(30deg) scale(0);
  z-index: 3;
}

.about-us-page__text-wrapper p:nth-child(2) {
  -webkit-transform: translateY(3000px) rotate(-30deg) scale(0);
          transform: translateY(3000px) rotate(-30deg) scale(0);
}

.about-us-page__text-wrapper p.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.about-us-page__circles-top {
  z-index: 2;
  width: 244px;
  height: 244px;
  top: -111px;
  left: -97px;
  -webkit-transform: translateY(3000px) rotate(-30deg) scale(0);
          transform: translateY(3000px) rotate(-30deg) scale(0);
}

.about-us-page__circles-top.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.about-us-page__circles-right {
  z-index: 2;
  width: 176px;
  height: 176px;
  top: 328px;
  right: -76px;
  -webkit-transform: translateY(3000px) rotate(-30deg) scale(0);
          transform: translateY(3000px) rotate(-30deg) scale(0);
}

.about-us-page__circles-right.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.about-us-page__circles-bottom {
  z-index: 2;
  width: 176px;
  height: 176px;
  bottom: 238px;
  right: -129px;
  -webkit-transform: translateY(3000px) rotate(-30deg) scale(0);
          transform: translateY(3000px) rotate(-30deg) scale(0);
}

.about-us-page__circles-bottom.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

@media screen and (min-width: 480px) {
  .about-us-page__win {
    width: 305px;
    height: 125px;
  }
  .win-text {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
}

@media screen and (min-width: 600px) {
  .about-us-page__win {
    margin-top: 13.5vh;
    width: 410px;
    height: 168px;
  }
  .about-us-page__win-text {
    padding: 27px 40px 0 55px;
  }
}

@media screen and (min-width: 620px) {
  .about-us-page__text-wrapper {
    width: 600px !important;
    margin: auto;
    margin-top: 3vh;
  }
}

@media screen and (min-width: 1020px) {
  .about-us-page__win {
    background: url(../assets/about-us-page/win-desc.png) no-repeat;
    height: 170px;
    margin-left: 300px;
  }
  .about-us-page__text-wrapper {
    margin-left: 70px;
  }
  .about-us-page__back {
    position: relative;
    width: 200px;
    margin-left: 480px;
  }
  .about-us-page__btns-wrapper {
    width: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 315px;
  }
}

.working__win {
  position: relative;
  background: url(../assets/about-us-page/win.png) no-repeat;
  width: 282px;
  height: 115px;
  background-size: cover;
  margin: auto;
  margin-top: 10vh;
  z-index: 3;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.working__win.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.working__win-text {
  padding: 11px 14px 0 27px;
}

.working__list {
  position: relative;
  padding: 0 10px 0 28px;
  margin-top: 35.8vh;
}

.working__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-bottom: 23px;
  z-index: 3;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
  position: relative;
}

.working__list-item.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.working__list-number {
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  display: block;
  margin-right: 18px;
  width: 78px;
}

.working__list-title {
  margin: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 6px;
}

.working__list-text {
  margin: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.working__circles-top-right {
  z-index: 0;
  width: 244px;
  height: 244px;
  top: -82px;
  right: -122px;
  -webkit-transform: translateY(1000px) scale(0);
          transform: translateY(1000px) scale(0);
}

.working__circles-top-right.show {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

.working__circles-top-left {
  z-index: 0;
  width: 176px;
  height: 176px;
  top: 281px;
  left: -60px;
  -webkit-transform: translateY(1000px) scale(0);
          transform: translateY(1000px) scale(0);
}

.working__circles-top-left.show {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

.working__circles-list-right {
  z-index: 0;
  width: 126px;
  height: 126px;
  top: 63px;
  right: -60px;
  -webkit-transform: translateY(1000px) scale(0);
          transform: translateY(1000px) scale(0);
}

.working__circles-list-right.show {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

.working__circles-bottom {
  z-index: 0;
  width: 194px;
  height: 194px;
  bottom: -79px;
  left: -145px;
  -webkit-transform: translateY(1000px) scale(0);
          transform: translateY(1000px) scale(0);
}

.working__circles-bottom.show {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

@media screen and (min-width: 600px) {
  .working__win {
    margin-top: 13.5vh;
    width: 410px;
    height: 168px;
  }
  .working__win-text {
    padding: 27px 40px 0 55px;
  }
}

@media screen and (min-width: 1020px) {
  .working__win {
    background: url(../assets/about-us-page/win-desc.png) no-repeat;
    height: 170px;
    margin-left: 300px;
  }
  .working__win-text {
    padding: 27px 65px 0 40px;
  }
  .working__back {
    position: relative;
    width: 200px;
    margin-left: 375px;
  }
  .working__btns-wrapper {
    width: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 210px;
  }
  .working__list {
    width: 530px;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(197, 197, 197, 0.2);
    -webkit-backdrop-filter: blur(53px);
            backdrop-filter: blur(53px);
    border-radius: 0 24px 24px 0;
    z-index: 4;
    padding: 20px;
  }
  .working__list-item {
    width: 400px;
    margin-left: auto;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__main-img {
  z-index: 4;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.contacts__main-img.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.contacts__list {
  margin: 0;
  padding: 0;
  z-index: 3;
}

.contacts__list-item {
  margin: 0;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.contacts__list-item.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.contacts__list-item img {
  margin-right: 21px;
  width: 44px;
}

.contacts__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.contacts__text span {
  font-weight: 500;
}

.contacts__consult-btn {
  padding: 6px 17px;
  color: #FF9B04;
}

.contacts__circles-top {
  width: 244px;
  height: 244px;
  top: -122px;
  left: -97px;
  -webkit-transform: translateY(1000px) rotate(0deg) scale(0);
          transform: translateY(1000px) rotate(0deg) scale(0);
}

.contacts__circles-top.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.contacts__circles-center {
  width: 176px;
  height: 176px;
  top: 105px;
  right: 13px;
  -webkit-transform: translateY(1000px) rotate(0deg) scale(0);
          transform: translateY(1000px) rotate(0deg) scale(0);
}

.contacts__circles-center.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.contacts__circles-right {
  width: 176px;
  height: 176px;
  bottom: 176px;
  right: -128px;
  -webkit-transform: translateY(1000px) rotate(0deg) scale(0);
          transform: translateY(1000px) rotate(0deg) scale(0);
}

.contacts__circles-right.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.contacts__circles-left {
  width: 176px;
  height: 176px;
  bottom: 28px;
  left: -126px;
  -webkit-transform: translateY(1000px) rotate(0deg) scale(0);
          transform: translateY(1000px) rotate(0deg) scale(0);
}

.contacts__circles-left.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.contacts__order-btn {
  display: none;
}

.contacts-btns-wrapper {
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 3;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.contacts-btns-wrapper.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.contacts-back-btn {
  margin: 0 10px 0 0;
}

@media screen and (min-width: 860px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contacts__main-img {
    width: 70vh;
    z-index: 5;
    margin-right: 10vw;
  }
  .contacts__list {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(197, 197, 197, 0.2);
    -webkit-backdrop-filter: blur(53px);
            backdrop-filter: blur(53px);
    border-radius: 24px;
    position: absolute;
    z-index: 4;
    left: 10vw;
    width: 60vw;
    padding: 30px;
  }
  .contacts-btns-wrapper {
    bottom: auto;
    top: 70vh;
    left: 10vw;
  }
}

@media screen and (min-width: 1020px) {
  .contacts__order-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
  }
}

.services-page {
  background: linear-gradient(351.31deg, #451149 -7.22%, #ED00FF 109.14%);
}

.services {
  background: linear-gradient(166.84deg, rgba(255, 150, 26, 0.56) -4.03%, rgba(80, 16, 84, 0) 106.68%);
}

.services__win {
  position: relative;
  background: url(../assets/services-page/win.png) no-repeat;
  width: 243px;
  height: 113px;
  background-size: cover;
  margin: auto;
  margin-top: 53px;
  z-index: 3;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.services__win.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.services__win-text {
  padding: 11px 14px 0 27px;
}

.services__list {
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 34px;
  padding: 0;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 23px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(53px);
          backdrop-filter: blur(53px);
  border-radius: 24px;
  width: 144px;
  height: 106px;
  padding: 13px 0;
  z-index: 3;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.services__list-item.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.services__list-item:first-child {
  margin-right: 9px;
}

.services__list-item img {
  width: 74px;
  margin-bottom: 11px;
}

.services__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.services__circles-top {
  width: 88px;
  height: 88px;
  right: 20px;
  bottom: 230px;
  -webkit-transform: translateY(1000px) scale(0);
          transform: translateY(1000px) scale(0);
}

.services__circles-top.show {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

.services__circles-bottom {
  width: 154px;
  height: 154px;
  bottom: -70px;
  left: -51px;
  -webkit-transform: translateY(1000px) scale(0);
          transform: translateY(1000px) scale(0);
}

.services__circles-bottom.show {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

.services-back-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(1000px) scale(0);
          transform: translateY(1000px) scale(0);
  z-index: 3;
}

.services-back-btn.show {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

.mobile-menu-btn {
  position: fixed;
  width: 69px;
  height: 66px;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(58px);
          backdrop-filter: blur(58px);
  border-radius: 0px 0px 0 20px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.mobile-menu-img {
  background: url(../assets/menu.svg) no-repeat;
  width: 49px;
  height: 49px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.mobile-menu-img.opened {
  background: url(../assets/menu-opened.svg) no-repeat;
  background-size: 100% 100%;
  width: 55px;
  height: 55px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  overflow: hidden;
}

.mobile-menu.opened {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-menu__hero {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(58px);
          backdrop-filter: blur(58px);
  z-index: 2;
}

.mobile-menu__logo-wrapper {
  padding: 6px 27px;
}

.mobile-menu__logo {
  width: 41px;
}

.mobile-menu__list {
  padding: 0;
  margin: 0;
}

.mobile-menu__list-item {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.mobile-menu__devider {
  display: block;
  margin: auto;
  margin-bottom: 14px;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 27px;
}

.mobile-menu__social-item:first-child {
  margin-right: 18px;
}

.mobile-menu__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(58px);
          backdrop-filter: blur(58px);
  border-radius: 20px 20px 0 0;
  padding: 18px 16px 15px 16px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  z-index: 2;
}

.mobile-menu__circles-left {
  width: 176px;
  height: 176px;
  left: -51px;
  top: 322px;
  z-index: -1;
}

.mobile-menu__circles-right {
  width: 268px;
  height: 268px;
  right: -144px;
  bottom: -22px;
}

@media screen and (min-width: 860px) {
  .mobile-menu-btn {
    display: none;
  }
}

.sites__win {
  position: relative;
  background: url(../assets/cites-page/win.png) no-repeat;
  width: 243px;
  height: 129px;
  background-size: cover;
  margin-top: 37vh;
  margin-bottom: 70px;
  margin-left: 34px;
  z-index: 2;
  -webkit-transform: translateX(1000px) scale(0);
          transform: translateX(1000px) scale(0);
}

.sites__win.show {
  -webkit-transform: translateX(0px) scale(1);
          transform: translateX(0px) scale(1);
}

.sites__win-text {
  padding: 52px 36px 14px 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.sites__definition {
  margin: 0;
  margin-bottom: 20px;
  -webkit-transform: translateX(1000px) scale(0);
          transform: translateX(1000px) scale(0);
}

.sites__definition.show {
  -webkit-transform: translateX(0px) scale(1);
          transform: translateX(0px) scale(1);
}

.sites__definition span {
  color: #FFA31A;
}

.sites__list {
  margin: 0;
  list-style: none;
  -webkit-transform: translateX(1000px) scale(0);
          transform: translateX(1000px) scale(0);
}

.sites__list.show {
  -webkit-transform: translateX(0px) scale(1);
          transform: translateX(0px) scale(1);
}

.sites__list span {
  color: #FFA31A;
}

.sites__list li {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 0 0 37px;
  position: relative;
}

.sites__list li:nth-child(2) {
  margin-top: 20px;
}

.sites__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: .5em;
  height: 2px;
  width: 52px;
  background: #FFA31A;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}

.sites__list-title {
  margin: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 21px;
}

.sites__steps-prelist-text {
  margin: 0;
  margin-bottom: 20px;
}

.sites__steps-prelist-text span {
  color: #FFA31A;
}

.sites__circles-top {
  width: 244px;
  height: 244px;
  top: -123px;
  left: -39px;
  -webkit-transform: translateX(1000px) scale(0);
          transform: translateX(1000px) scale(0);
}

.sites__circles-top.show {
  -webkit-transform: translateX(0px) scale(1);
          transform: translateX(0px) scale(1);
}

.sites__circles-right {
  width: 176px;
  height: 176px;
  top: 334px;
  right: -94px;
  -webkit-transform: translateX(1000px) scale(0);
          transform: translateX(1000px) scale(0);
}

.sites__circles-right.show {
  -webkit-transform: translateX(0px) scale(1);
          transform: translateX(0px) scale(1);
}

.apps__win {
  position: relative;
  background: url(../assets/applications-page/win.png) no-repeat;
  width: 243px;
  height: 118px;
  background-size: cover;
  margin: auto;
  margin-top: 329px;
  z-index: 3;
  -webkit-transform: translateX(1500px) rotate(-30deg) scale(0);
          transform: translateX(1500px) rotate(-30deg) scale(0);
}

.apps__win.show {
  -webkit-transform: translateX(0px) rotate(0deg) scale(1);
          transform: translateX(0px) rotate(0deg) scale(1);
}

.apps__win-text {
  padding: 44px 23px 19px 27px;
}

.apps__reasons-title {
  position: relative;
  margin: 0;
  margin-top: 63px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  z-index: 3;
  -webkit-transform: translateX(1500px) rotate(-30deg) scale(0);
          transform: translateX(1500px) rotate(-30deg) scale(0);
}

.apps__reasons-title.show {
  -webkit-transform: translateX(0px) rotate(0deg) scale(1);
          transform: translateX(0px) rotate(0deg) scale(1);
}

.apps__reasons-list {
  position: relative;
  margin-bottom: 22px;
  z-index: 3;
  -webkit-transform: translateX(1500px) rotate(-30deg) scale(0);
          transform: translateX(1500px) rotate(-30deg) scale(0);
}

.apps__reasons-list.show {
  -webkit-transform: translateX(0px) rotate(0deg) scale(1);
          transform: translateX(0px) rotate(0deg) scale(1);
}

.apps__reasons-list li {
  padding: 0;
  margin-left: 13px;
  list-style: none;
  position: relative;
}

.apps__reasons-list li::before {
  content: '.';
  position: absolute;
  top: -0.3em;
  left: -9px;
}

.apps__modals-img {
  width: 100%;
  z-index: 4;
  position: relative;
  -webkit-transform: translateX(1500px) rotate(-30deg) scale(0);
          transform: translateX(1500px) rotate(-30deg) scale(0);
}

.apps__modals-img.show {
  -webkit-transform: translateX(0px) rotate(0deg) scale(1);
          transform: translateX(0px) rotate(0deg) scale(1);
}

.apps__steps-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apps__steps-title-num {
  color: #FFA31A;
  font-size: 64px;
  line-height: 120%;
  margin-right: 10px;
}

.apps__steps-title p {
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}

.apps__steps-title p span {
  color: #FFA31A;
}

.apps__steps {
  margin-bottom: 13px;
}

.apps__info-title {
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #FFA31A;
  margin-bottom: 20px;
}

.apps__info-text {
  margin: 0;
  margin-bottom: 20px;
}

.apps__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.apps__consult {
  padding: 6px 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.apps__order {
  padding: 6px 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.apps__circles-top {
  width: 244px;
  height: 244px;
  top: -100px;
  left: -84px;
  -webkit-transform: translateX(1000px) scale(0);
          transform: translateX(1000px) scale(0);
}

.apps__circles-top.show {
  -webkit-transform: translateX(0px) scale(1);
          transform: translateX(0px) scale(1);
}

.apps__circles-right {
  width: 176px;
  height: 176px;
  top: 103px;
  right: -90px;
  -webkit-transform: translateX(1000px) scale(0);
          transform: translateX(1000px) scale(0);
}

.apps__circles-right.show {
  -webkit-transform: translateX(0px) scale(1);
          transform: translateX(0px) scale(1);
}

.apps__circles-left {
  width: 76px;
  height: 76px;
  top: 395px;
  left: -39px;
  -webkit-transform: translateX(1000px) scale(0);
          transform: translateX(1000px) scale(0);
}

.apps__circles-left.show {
  -webkit-transform: translateX(0px) scale(1);
          transform: translateX(0px) scale(1);
}

.accordeon__steps-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 25px;
}

.accordeon__steps-num-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 5px;
}

.accordeon__steps-num {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 122%;
  color: #FFFFFF;
  margin-right: 8px;
}

.accordeon__steps-num-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  position: relative;
  padding-top: 10px;
}

.accordeon__steps-num-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FFA31A;
  bottom: -2px;
  left: 0;
}

.accordeon__steps-control-wrapper {
  width: 26px;
  height: 30px;
  position: relative;
  margin-left: 10px;
}

.accordeon__steps-control-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
}

.accordeon__steps-control-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
}

.accordeon__steps-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.accordeon__steps-content-text {
  margin: 0;
}

.accordeon__steps-actions-wrapper {
  margin: 37px 0 21px 0;
  padding: 15px 13px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(220, 220, 220, 0.59);
  border-radius: 20px;
  color: #fff;
}

.accordeon__steps-actions-wrapper ul {
  padding: 0;
}

.accordeon__steps-actions-wrapper ul li {
  padding: 0;
  margin-left: 13px;
  list-style: none;
  position: relative;
}

.accordeon__steps-actions-wrapper ul li::before {
  content: '.';
  position: absolute;
  top: -0.3em;
  left: -9px;
}

.accordeon__steps-actions-title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 15px;
  color: #fff;
}

.collapsed .accordeon__steps-control-wrapper::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.collapsed ~ .accordeon__steps-content {
  padding: 20px 0;
  max-height: auto;
  display: block;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 19px 16px 19px;
}

.buttons-wrapper__consult {
  padding: 6px 17px;
  width: 100%;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-right: 17px;
  color: #FF9B04;
}

.buttons-wrapper__order {
  padding: 6px 17px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.popup {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__win {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(58px);
          backdrop-filter: blur(58px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 20px;
  width: 100%;
  margin-left: 23px;
  margin-right: 23px;
}

.popup__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 13px;
}

.popup__btn {
  margin-bottom: 14px;
  width: 100%;
  height: 37px;
}

.popup__btn:last-child {
  margin-bottom: 0px;
}

.popup__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 19px;
}

.order-popup {
  display: none;
}

.consult-popup {
  display: none;
}

.order-thank-popup {
  display: none;
}

.consult-thank-popup {
  display: none;
}

.hidden-nav {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 71px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(58px);
          backdrop-filter: blur(58px);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.navbar__logo {
  height: 55px;
}

.navbar__links-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.navbar__link {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  cursor: pointer;
}

.navbar__socials-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__social {
  list-style: none;
  cursor: pointer;
}

.navbar__social:first-child {
  margin-right: 18px;
}

.navbar__social img {
  height: 36px;
  width: 36px;
}

@media screen and (max-width: 859px) {
  .navbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__links-list {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media screen and (min-width: 1440px) {
  .navbar__links-list {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
}

.ceo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ceo__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.ceo__hero {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(53px);
          backdrop-filter: blur(53px);
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 17px;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.ceo__hero.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.ceo__img {
  margin-right: 15px;
}

.ceo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ceo__subtitle {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
}

.ceo__title {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.ceo__description {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 120%;
  color: #FFFFFF;
}

.ceo__about-text {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.ceo__about-text.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.ceo__socials {
  width: 105px;
  height: 65px;
  margin-bottom: -30px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.24);
  border: 2px solid rgba(197, 197, 197, 0.2);
  -webkit-backdrop-filter: blur(53px);
          backdrop-filter: blur(53px);
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.ceo__socials.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.ceo__circles-top {
  top: -122px;
  left: -100px;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.ceo__circles-top.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.ceo__circles-center {
  top: 42px;
  right: 33px;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.ceo__circles-center.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.ceo__circles-right {
  bottom: 80px;
  right: -107px;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.ceo__circles-right.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.ceo__circles-left {
  bottom: 27px;
  left: -127px;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}

.ceo__circles-left.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.ceo-btns-wrapper {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  z-index: 3;
  -webkit-transform: translateY(1500px) rotate(-30deg) scale(0);
          transform: translateY(1500px) rotate(-30deg) scale(0);
}

.ceo-btns-wrapper.show {
  -webkit-transform: translateY(0px) rotate(0deg) scale(1);
          transform: translateY(0px) rotate(0deg) scale(1);
}

.ceo-back-btn {
  margin: 0 10px 0 0;
  width: auto !important;
}

.mr-12 {
  margin-right: 12px;
}

@media screen and (max-width: 370px) {
  .ceo__description {
    font-size: 12px;
  }
}
